<ion-view view-title="Change Password" align-title="left">
    <ion-content class="login-body">
        <div class="login-logo tcenter padding">
            <img src="img/logo-login.png">
        </div>
        <div class="padding">         
        </div>
        <div class="list">
            <form name="ChangePass_Form" class="login-form padding">
                <span class="form-control login-item-error " ng-show="isShow"></span>

                <span class="form-control login-item-error " ng-show="!ChangePass_Form.oldPassword.$error.required && !ChangePass_Form.oldPassword.$error.minlength && !ChangePass_Form.oldPassword.$error.maxlength && ChangePass_Form.oldPassword.$error.pattern && ChangePass_Form.oldPassword.$dirty">Old password required</span><br>
                <span class="form-control login-item-error " ng-show="!ChangePass_Form.newPassword.$error.required && !ChangePass_Form.newPassword.$error.minlength && !ChangePass_Form.newPassword.$error.maxlength && ChangePass_Form.newPassword.$error.pattern && ChangePass_Form.newPassword.$dirty">New password required</span><br>
                <span class="form-control login-item-error " ng-show="!ChangePass_Form.cnfPassword.$error.required && !ChangePass_Form.cnfPassword.$error.minlength && !ChangePass_Form.cnfPassword.$error.maxlength && ChangePass_Form.cnfPassword.$error.pattern && ChangePass_Form.cnfPassword.$dirty">Confirm password required</span><br>

                <span class="form-control login-item-error " ng-show="!ChangePass_Form.username.$error.required && (ChangePass_Form.username.$error.minlength || ChangePass_Form.username.$error.maxlength) && ChangePass_Form.username.$dirty">Invalid Username</span>
                <span class="form-control login-item-error " ng-show="!ChangePass_Form.username.$error.required && !ChangePass_Form.username.$error.minlength && !ChangePass_Form.username.$error.maxlength && ChangePass_Form.username.$error.pattern && ChangePass_Form.username.$dirty"> Username must be alpha numeric only</span>
                <label class="item item-input item-md-label"> <span class="input-label">Username :  {{username}}</span></label>
                <ion-md-input ng-disabled="true" placeholder="Old Password" highlight-color="energized" type="password" ng-model="changPssObj.OldPassword" name="oldPassword" required></ion-md-input>
                <ion-md-input placeholder="New Password" highlight-color="energized" type="password" ng-model="changPssObj.NewPassword" 
                name="newPassword" required></ion-md-input>

                <ion-md-input placeholder="Confirm Password" highlight-color="energized" type="password" ng-model="changPssObj.CnfPassword" 
                 name="cnfPassword" required></ion-md-input>
            </form>
        </div>
        <div class="padding-l-r-16">        
        </div>
        <div class="padding tcenter">
            <button type="submit" ng-click="updatePassword(changPssObj,username)" class="button button-stable button-primary">Change Password</button>
        </div>

    </ion-content>
</ion-view>