<ion-view view-title="Re-Deliver List">
        <ion-content class="login-body-color">
                <div class="row row-fixedPosition">
                        <div class="col col-responsive-20">
                                <ul class="search-inn">
                                        <li class="search-inn-mm" ng-class="searchText?'searchtxt-rm':''"><input type="text" placeholder="Search" ng-model="searchText" class="orderlist-search-input"
                                                /></li>
                                        <li>
                                                <div class="search-inn-mm-btn"><i ng-show="searchText" class="fa fa-times-circle-o" ng-click="searchText = ''"
                                                                aria-hidden="true"></i></div>
                                        </li>
                                </ul>
                        </div>
                </div>
                <div class="row row-padd orderlist-rowfixed main-div-list-2">
                        <div class="col tcenter col-25 border-column no-border top-border heading-row">Order ID</div>
                        <div class="col tcenter col-25 border-column no-border top-border heading-row">Resident</div>
                        <div class="col tcenter col-25 border-column no-border top-border heading-row">Location</div>
                        <div class="col tcenter col-25 border-column top-border heading-row">Re-Deliver Items</div>
                </div>

                <div class="creditlist-columns ordr-lst">
                        <div class="row row-padd" ng-repeat="order in orderList | filter:searchText track by $index">
                                <!-- <div class="col tcenter col-25 border-column no-border row-fourth-text " ng-class="order.isOrderRedelivered == '2'?'lightblue':'White'">{{order.OrderID}}</div>

                                <div ng-if='order.isOrderRedelivered == "1"' class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'White':''">{{order.ResID}}</div>
                                
                                <div ng-if='order.isOrderRedelivered == "2"' class="col tcenter col-25 border-column no-border row-fourth-text text-dec" ng-click="goToOrderDetails(order.ResID)" ng-class="true?'lightblue':''">{{order.ResID}}</div>
                                
                                <div class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="order.isOrderRedelivered == '2'?'lightblue':'White'">{{order.Location}}</div>
                                <div class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="order.isOrderRedelivered == '2'?'lightblue':'White'">{{order.DownloadSeq}}</div>          
                       
                                ng-if="order.isOrderRedelivered == '1' && order.isOrdered == '1'" -->

                                <!-- <div ng-if="order.isCredit == '0' && order.isRedeliver == '1' && order.isOrderRedelivered == '2'" class="col tcenter col-50 border-column no-border row-fourth-text text-dec"
                                        ng-click="goToOrderDetails(order.ResID,order.DeliveryID)" ng-class="true?'lightblue':''">{{order.ResID}}</div>
                                <div ng-if="order.isCredit == '0' && order.isRedeliver == '1' && order.isOrderRedelivered == '2'" class="col tcenter col-50 border-column no-border row-fourth-text"
                                        ng-class="true?'lightblue':''">{{order.Location}}</div> -->

                                <div ng-if="order.isCredit == '0' && order.isRedeliver == '1' && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text " ng-class="true?'White':''">{{order.DeliveryID}}</div>
                                <div ng-if="order.isCredit == '0' && order.isRedeliver == '1' && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text text-dec" ng-class="true?'White':''" ng-click="goToViewOrders(order.ResID,order.DeliveryID)">{{order.ResID}}</div>
                                <div ng-if="order.isCredit == '0' && order.isRedeliver == '1' && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'White':''">{{order.Location}}</div>
                                <div ng-if="order.isCredit == '0' && order.isRedeliver == '1' && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'White':''">{{order.DownloadSeq}}</div>          
                                    
                                <div ng-if="order.isCredit == '1' && (order.isOrdered == '2' || order.isOrderRedelivered == '2')" class="col tcenter col-25 border-column no-border row-fourth-text " ng-class="true?'orange':''">{{order.DeliveryID}}</div>
                                <div ng-if="order.isCredit == '1' && (order.isOrdered == '2' || order.isOrderRedelivered == '2')" class="col tcenter col-25 border-column no-border row-fourth-text text-dec" ng-click="goToViewOrders(order.ResID,order.DeliveryID)" ng-class="true?'orange':''">{{order.ResID}}</div>
                                <div ng-if="order.isCredit == '1' && (order.isOrdered == '2' || order.isOrderRedelivered == '2')" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'orange':''">{{order.Location}}</div>
                                <div ng-if="order.isCredit == '1' && (order.isOrdered == '2' || order.isOrderRedelivered == '2')" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'orange':''">{{order.DownloadSeq}}</div>          
                                
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '0' && order.isOrdered == '0'" class="col tcenter col-25 border-column no-border row-fourth-text " ng-class="true?'lightblue':''">{{order.OrderID}}</div>
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '0' && order.isOrdered == '0'" class="col tcenter col-25 border-column no-border row-fourth-text text-dec" ng-click="goToOrderDetails(order.ResID,order.OrderID)" ng-class="true?'lightblue':''">{{order.ResID}}</div>
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '0' && order.isOrdered == '0'" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'lightblue':''">{{order.Location}}</div>
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '0' && order.isOrdered == '0'" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'lightblue':''">{{order.DownloadSeq}}</div>          
                                
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text " ng-class="true?'White':''">{{order.OrderID}}</div>
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text text-dec" ng-click="goToOrderDetails(order.ResID,order.OrderID)" ng-class="true?'White':''">{{order.ResID}}</div>
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'White':''">{{order.Location}}</div>
                                <div ng-if="order.isCredit == '0'  && order.isOrderRedelivered == '2'" class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="true?'White':''">{{order.DownloadSeq}}</div>          
                                
                                                        
                        </div>

                        <!--<div class="col tcenter col-25 border-column no-border row-fourth-text" ng-class="order.isOrdered === '1'?'lightgreen':order.isOrdered === '2'?'yellow':'White'">{{order.itemCount}}</div>-->
                </div>
        </ion-content>
</ion-view>